body {
  background-color: #444;
  color: #fff;
  margin: 20px;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: #444;
  color: #fff;
  border: 1px solid #999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
  background-color: #222;
}

.status {
  margin: 20px 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.new-game {
  margin: 0 0 0 16px;
  height: 40px;
  border-radius: 5px;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}

.container-score {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.score {
  border: 1px solid white;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  border-radius:5px;
}